<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *{
      background-color: #181a1b;
      color : gray;
    }
  </style>
</head>
<body>
  <div>
    <div style="display: flex; margin-bottom: 1rem;">
      <button onclick="createSession()">New Session</button>
      <input type="text" name="createdId" id="createdId" readonly>
    </div>
    <div style="display: flex;">
      <input type="text" name="sessionId" id="sessionId">
      <button type="button" onclick="joinSession()">Join Session</button>
    </div>
  </div>
  <div id="root">
    <video id="localVideo" autoplay playsinline></video>
    <div id="remoteVideo"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script>
    const connection = new Map()
    const socket = io();
    const localVideo = document.getElementById('localVideo');
    const remoteVideo = document.getElementById('remoteVideo');

    const sessionId = document.getElementById('sessionId').value
    let peerConnections = new Map();
    let localStream

    function getCam(){
      navigator.mediaDevices.getUserMedia({ video: true, audio: true })
        .then((stream) => {
          // Display local video
          localVideo.srcObject = stream;

          // Add local stream to the peer connection
          // stream.getTracks().forEach(track => {
          //   peerConnection.addTrack(track, stream)
          // });
        }).catch(error => console.error('Error accessing media devices:', error));
    }


    socket.on('userJoined', (userId) => {
      console.log(`User joined: ${userId}`);
      createPeerConnection(userId);
    });

    // Event handlers for creating/joining sessions
    function createSession() {
      socket.emit('createSession')
      socket.on('sessionCreated', (session) => {
        document.getElementById('createdId').value = session.sessionId
      })
    }

    async function joinSession() {
      navigator.mediaDevices.getUserMedia({ video: true, audio: true })
        .then((stream) => {
          // Display local video
          localStream = stream
          localVideo.srcObject = stream;
        })
        .catch(error => console.error('Error accessing media devices:', error));

      // localStream = await navigator.mediaDevices.getUserMedia({ video: true, audio: true });
      // localVideo.srcObject = localStream;
      socket.emit('joinSession', { sessionId });

      // Code to set up WebRTC and initiate a call
      // This involves getting user media, creating an RTCPeerConnection, etc.
      // For simplicity, we'll provide a minimal example below:
      
      const offer = await createOffer()
      socket.emit('offer', { offer, room: sessionId });
    }

    // create offer 
    async function createOffer() {
      const peerConnection = createPeerConnection();
      localStream.getTracks().forEach(track => peerConnection.addTrack(track, localStream));

      const offer = await peerConnection.createOffer();
      await peerConnection.setLocalDescription(offer);

      return offer;
    }

    // create p2p connection
    function createPeerConnection(userId) {
      const peerConnection = new RTCPeerConnection();

      peerConnections.set(userId, peerConnection);

      peerConnection.onicecandidate = (event) => {
        if (event.candidate) {
          socket.emit('ice-candidate', { candidate: event.candidate, sessionId });
        }
      };

      peerConnection.ontrack = (event) => {
        const remoteElementVideo = document.createElement('video');
        remoteElementVideo.srcObject = event.streams[0];
        remoteElementVideo.autoplay = true;
        remoteVideo.appendChild(remoteElementVideo);
      };

      return peerConnection;
    }

    // Event handlers for sending/receiving messages
    function sendMessage(sessionId, message) {
      socket.emit('message', { sessionId, message });
    }

    // Listen for signaling events
    socket.on('offer', (offer) => {
      peerConnection.setRemoteDescription(offer)

      // Create an answer
      peerConnection.createAnswer()
        .then((answer) => peerConnection.setLocalDescription(answer))
        .then(() => {
          socket.emit('answer', peerConnection.localDescription)
        })
        .catch(error => console.log('Error creating or setting local description:', error))
    })

    socket.on('answer', (answer) => {
      // if (peerConnection.connectionState === 'have-remote-offer' || peerConnection.connectionState === 'have-local-pranswer') {
      //   peerConnection.setRemoteDescription(answer)
      //     .then(() => {
      //       // Continue with other steps
      //     })
      //     .catch(error => console.error('Error setting remote description:', error));
      // } else {
      //   console.log('Invalid connection state for setRemoteDescription:', peerConnection.connectionState);
      // }
      peerConnection.setRemoteDescription(answer)
    })

    // socket.on('ice-candidate', (candidate) => peerConnection.addIceCandidate(candidate))

    // Listen for remote stream and display it
    // peerConnection.addEventListener('track', (event) => {
    //   remoteVideo.srcObject = new MediaStream([event.track]);
    // });
  </script>
</body>
</html>